body{
    background-color: #f4efe6;
}

#header{
    display: flex;
    flex-direction: row;
}

#logo{
    display: flex;
    height: 250px;
}

.links{
    padding-left: 60vw;
    padding-top: 100px;
}

.normal-link{
    color: inherit;
    text-decoration: none;
    padding: 15px;
    font-size: large;
}

.hr1{
    color: black;
    position: relative;
    top: -30px;
}

/* tried to change the images width so it can stretch accross the screen. 
nothing worked. */
.library{
    display: flex;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-left: 525px;
}

img {
    max-width: 100%;
}

.library img{
    width: 100%;
    height: 100%;
}

.home{
    display: flex;
    margin-top: 100px;
    flex-direction: row;
}

.home img{
    height: 200px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 75px;
}

.home p{
    display: flex;
    width: 400px;
}

.home ul{
    margin-bottom: 40px;
}



#logo1{
    display: flex;
    height: 200px; 
}

.bottom{
    display: flex;
}

.bottom img{
    margin-left: 20px;
}

.bottom p{
    display: flex;
    margin-left: 850px;
    margin-top: 100px;
    font-size: 20px;
}

.stuff{
    display: flex;
}

.books{
    margin-left: 400px;
    color: white;
    background-color: tan;
    border-radius: 10px;
    padding: 10px;
}

.staff{
    margin-left: 100px;
    color: white;
    background-color: tan;
    border-radius: 10px;
    padding: 10px;
}

.hours{
    margin-left: 100px;
    color: white;
    background-color: tan;
    border-radius: 10px;
    padding: 10px;
}

img{
    border-radius: 10px;
}