body {
  margin: 0;
  background: #F4EFE6; /* Beige main color */
  color: #2B2B2B;
  font-family: Arial, sans-serif;
}
/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #2B2B2B;
  background: #F4EFE6;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
