body {
  margin: 0;
  background: #F4EFE6; 
  color: #2B2B2B;     
  font-family: Arial, sans-serif;
  font-size: x-large;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #2B2B2B;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
header h1 {
  margin: 0;
  font-family: Georgia, serif;
  font-size: 20px;
}

header p {
  margin: 0;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: #1F3A34; 
  font-weight: bold;
}

.banner {
  margin: 25px 40px;
  border: 2px solid #2B2B2B;
  height: 250px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-title {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 26px;
  margin-bottom: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 0 40px 40px 40px;
}


.card {
  background: #F4EFE6; 
  border: 1px solid #2B2B2B;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.title {
  margin: 6px 0 0 0;
  font-weight: bold;
  color: #2B2B2B;
}

.author {
  margin: 0;
  font-size: 14px;
  color: #3F4E78;
}




footer {
  background: #1F3A34;
  color: #F4EFE6;

  border-top: 2px solid #2B2B2B;

  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 19px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.footer-center {
  text-align: center;
  flex: 1;
}

.footer-right {
  text-align: right;
}