body {
  margin: 0;
  background: #F4EFE6; /* Beige main color */
  color: #2B2B2B;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #2B2B2B;
  background: #F4EFE6;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}
header h1 {
  margin: 0;
  font-family: Georgia, serif; 
  font-size: 20px;
}

header p {
  margin: 0;
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: #2B2B2B;
  font-weight: bold;
}

.banner {
  margin: 25px 40px;
  border: 2px solid #2B2B2B;
  height: 140px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-title {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 26px;
  margin-bottom: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 0 40px 40px 40px;
}


/* ===== CARD ===== */

.card {
  background: #FFFFFF;
  padding: 10px;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.title {
  margin: 6px 0 0 0;
  font-weight: bold;
}

.author {
  margin: 0;
  font-size: 14px;
  color: #555;
}