body{
    background-color: #f4efe6;
}

#header{
    display: flex;
    flex-direction: row;
}

#logo{
    display: flex;
    height: 250px;
}

.links{
    padding-left: 60vw;
    padding-top: 100px;
}

.normal-link{
    color: inherit;
    text-decoration: none;
    padding: 15px;
    font-size: large;
}

.hr1{
    color: black;
    position: relative;
    top: -30px;
}

.library{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-left: 475px;
}

img {
    max-width: 100%;
}

.library img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contacth1{
    margin-top: 50px;
    text-decoration: underline;
    
}

.formbutton{
    background-color: #b46a3a;
    color: white;
    width: 100px;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formbutton:active{
    background-color: #8f522c;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    display: flex;
}

.bottom img{
    margin-left: 20px;
}

.bottom p{
    display: flex;
    margin-left: 850px;
    margin-top: 100px;
    font-size: 20px;
}

#logo1{
    display: flex;
    height: 200px; 
}

.contactinfo{
    margin: 20px;
}